#login-form {
  width: 60%;
  margin: 0 auto;
}

#logor {
	margin-bottom: 50px;
	text-align: center;

}

.oauth-button {
	margin: auto;
    padding: 10px;
    text-align: center;
}

.auth-button-facebook {
	background: url("http://techulus.com/buttons/fb.png");
	height: 53px;
	width: 250px;
}

